Package: com.phillipt.freyr
Name: Freyr
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: At-a-glance forecasts with the swipe of a finger
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
